<h5 class="text-left">
  <small class="text-muted">※登録する本を検索してください</small>
</h3>

<%= form_with(url: publications_path , method: 'get' , local: true)do |f| %>
  <%= f.text_field :title, value: params[:title], placeholder: 'タイトルを入力'%>
  <%= f.text_field :author , value: params[:author], placeholder: '作者を入力'%>
  <%= f.submit "検索" ,class:"btn-sm"%>
  <%= link_to t('btn.clear'), publications_path ,class:"btn-sm btn-dark"%>
<% end %>
<div id="publications" class="container">
  <%= render partial: 'publications/publications' %>
</div>
