
<%= form_with(url: publications_path , method: 'get' , local: true)do |f| %>
  <%= f.label "タイトル" %>:<%= f.text_field :title , value: params[:title] %>
  <%= f.label "著者" %>:<%= f.text_field :author , value: params[:author] %>
  <%= f.submit "検索" ,class:"btn-sm"%>
  <%= link_to t('btn.clear'), publications_path ,class:"btn-sm btn-dark"%>
<% end %>
<div id="publications">
  <%= render partial: 'publications/publications' %>
</div>
