
<div class="card bg-light ">
  <article class="card-body">
    <div class="row">
      <div class="col-3 text-center">
        <%= image_tag @user.icon.url, size: '200x200' %>
        <p><%= @user.name %></p>
      </div>
      <div class="col-9 card">
        <p>
          <span class="h2"><%= @finish_read_price.to_s(:delimited) %>円</span>分の本を読み終えました！
          <span class="h6 text-right text-muted">※<%= @not_read_price.to_s(:delimited) %>円分の本が残ってます</span>
        </p>      
        <%= simple_format(@user.profile) %>
      </div> 
    </div>
    <% if current_user.id == @user.id%>
      <div class="pt-2 text-right">
        <%= link_to '編集', edit_user_registration_path, class:"btn-sm btn-dark"%> 
      </div>
    <% end %>
  </article>
</div>

<div>
  <div class="row card mt-2">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="tab-header <%= "#{params[:commit].present? ? '' : 'active'}" %> }">
        <a aria-controls="tab_1" data-toggle="tab" href="#tab_post" role="tab" class="btn btn-sm <%= "#{params[:commit].present? ? '' : 'active'}" %> " id="post-tab">投稿した感想</a>
      </li>
      <li role="presentation" class="tab-header">
        <a aria-controls="tab_2" data-toggle="tab" href="#tab_comment" role="tab" class="btn btn-sm" id="comment-tab">コメントした感想</a>
      </li>
      <li role="presentation" class="tab-header">
        <a aria-controls="tab_3" data-toggle="tab" href="#tab_good" role="tab" class="btn btn-sm" id="good-tab">いいねした感想</a>
      </li>
      <% if current_user.id == @user.id%>
        <li role="presentation" class="tab-header <%= "#{params[:commit].present? ? 'active' : ''}" %>">
          <a aria-controls="tab_4" data-toggle="tab" href="#tab_book" role="tab" class="btn btn-sm <%= "#{params[:commit].present? ? 'active' : ''}" %>" id="book-tab">持っている本</a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="tab-content">
    <div class="tab-pane <%= "#{params[:commit].present? ? '' : 'active'}" %>" id="tab_post" role="tabpanel">
      <%= render partial: 'posts/index', locals: {posts: @posts.includes(:user, :publication)} %>
    </div>
    <div class="tab-pane" id="tab_comment" role="tabpanel">
      <%= render partial: 'posts/index', locals: {posts: @comment_posts.includes(:user, :publication)} %>
    </div>
    <div class="tab-pane" id="tab_good" role="tabpanel">
      <%= render partial: 'posts/index', locals: {posts: @good_posts.includes(:user, :publication)} %>
    </div>
    <% if current_user.id == @user.id%>
      <div class="tab-pane <%= "#{params[:commit].present? ? 'active' : ''}" %>" id="tab_book" role="tabpanel">
        <div class="card bg-light m-2 p-2">
          <%= form_with(url: user_path(current_user.id), method: 'get', local: true) do |f| %>
            <%= f.text_field :title , value: params[:title], placeholder: 'タイトルを入力' %>
            <%= f.text_field :author , value: params[:author], placeholder: '著者を入力' %>
            <%= f.text_field :category_name , value: params[:category_name], placeholder: 'カテゴリを入力' %>
            <%= f.submit "検索" ,class:"btn-sm"%>
            <%= link_to 'クリア', user_path(current_user.id) ,class:"btn-sm btn-dark"%>
          <% end %>
        </div>
        <%= render partial: 'books/index'%>
      </div>
    <% end %>
  </div>
</div>
