
<div class="card">
  <article class="card-body">
    <h4 class="card-title mb-4 mt-1">マイページ</h4>
    <div class="row">
      <div class="col-md-3">
        <%= image_tag @user.icon.url, size: '200x200' if @user.icon.present? %>
        <p class="text-center"><%= @user.name %></p>
      </div>
      <div class="col-md-9">
        <%= @user.profile %>
      </div> 
    </div>
    <%= link_to '本を登録する', publications_path, class:"btn-sm btn-dark"%>
    <%= link_to '編集', edit_user_registration_path, class:"btn-sm btn-dark"%> 
  </article>
</div>

<%= form_with(url: user_path(current_user.id) , method: 'get' , local: true)do |f| %>
  <%= f.label "タイトル" %>:<%= f.text_field :title , value: params[:title] %>
  <%= f.label "著者" %>:<%= f.text_field :author , value: params[:author] %>
  <%= f.label "カテゴリー" %>:<%= f.text_field :category_name , value: params[:category_name] %>
  <%= f.submit "検索" ,class:"btn-sm"%>
  <%= link_to 'クリア', user_path(current_user.id) ,class:"btn-sm btn-dark"%>
<% end %>

<div class="row">
  <% @books.each do |book| %>
    <div class="col-md-4">
      <%= book.publication.title %><br>
      <%= book.publication.author %><br>
      <%= render 'books/category_list', category_list: book.category_list %><br>
      <%= image_tag(book.publication.image , size: '200x200')%>
      <%= link_to '編集', edit_book_path(book.id) ,class:"btn-sm btn-info"%>
      <%= link_to '削除', book_path(book.id), method: :delete, data:{ confirm: "#{book.publication.title}を削除しますがよろしいですか？"} ,class:"btn-sm btn-danger"%>
    </div>
  <% end %>
</div>