
<%= link_to "投稿" , new_post_path ,class:"btn btn-primary btn-lg"%>
<div class="row">
  <% @posts.each do |post|%>
    <div class="col-md-4">
      <%= post.title%><br>
      <%= post.content%><br>
      <%= image_tag(post.publication.image, size: '200x200')%>
      <%= link_to '編集' , edit_post_path(post.id) ,class:"btn-sm btn-info"%>
    </div>
  <% end %>
</div>