<div class="row">
  <div class="col-md-6">
    <p>投稿者：<%= @post.user.name %></p>
    <p>タイトル:<%= @post.title %></p>
    <p>詳細:<%= @post.content %></p>
  </div>
  <div class="col-md-6">
    <%= @post.publication.title %>
    <p><%= image_tag(@post.publication.image, size: '200x200') %></p>
  </div>
</div>

  <p>コメント一覧</p>
  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments, post: @post } %>
  </div>
  <br>
  <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>

  <%= link_to '一覧へ', posts_path %>
