<!DOCTYPE html>
<html>
  <head>
    <title>BookManagementApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <nav>
      <div class="header-left">
        <h1>書籍管理アプリ</h1>
      </div>
      <div class="header-right">
        <% if user_signed_in? %> 
          <li class="nav-item">
            <%= active_link_to "マイページ", user_path(current_user.id), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= active_link_to "本を登録する", publications_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= active_link_to "感想を見る", posts_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= active_link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= active_link_to "サインアップ", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= active_link_to "ログイン", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </div>  
    </nav>
  </header>
  <body>
    <div class="container">
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    </div>
  </body>
</html>
